/* Jeremy Calhoun */
/* WEB115-N801 */

html {
	background: black;
	font-family: cursive;
}

h1, li {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1, li a {
	color: white;
}

li a {
	background-color: #2f2f5d99;
	border-radius: 30px;
	padding:1.5ch 3ch;	
}

li{
	padding: 3ch;
	list-style-type: none;
}