/* Jeremy Calhoun */
/* WEB115-N801 Fall 24 */

html {
	background: #4a494f;
}

header, h2, h3, p, footer, .courselist {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header, h2, h3, p, .courselist  {
	color: white;
	text-align: center;
}

header {
	max-width: 1000px;
	background-color: #2f2f5d99;
	box-shadow:0 0 10px 5px #e4e0c1;
	border-radius: 30px;
	padding:0.5ch 2ch;
	margin-bottom : 10ch;
}


h2 {
	padding-bottom: 3ch;
	font-size: 3em;
}

h3 {
	padding-top: 3ch;
	font-size: 2.5em;
}

p, .courselist {
	font-family: cursive;
	max-width: 700px;
}

footer {
	padding-top: 15ch;
}

footer li{
	display: inline-flex;
}

li a {
	color: white;
	background-color: #2f2f5d99;
	border-radius: 30px;
	padding:1.5ch 3ch;	
	box-shadow:0 0 10px 2px #e4e0c1;
}

li{
	padding: 3ch;
	list-style-type: none;
}

.self {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.courselist li {
	list-style-type: disc;
	padding: 1ch;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}